<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<body>

<div th:fragment="footer">
    <a href="#">
        <img alt="Blog website logo" class="img-fluid mx-auto d-block" height="150" src="image/logo_bp.svg" width="150">
    </a>
    <div class="social-media">
        <h5 class="text-center">Redes Sociales</h5>
        <div class="social-media-icons">
            <div class="social-media-icon">
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            </div>
            <div class="social-media-icon">
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </div>
    <p class="privacy-policy">&copy 2020 Bellas Palabras. <a href="#">Política de Privacidad</a></p>
</div>

</body>

</html>