<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Bellas Palabras - Admin Website</title>
    <link href="/css/app.css" rel="stylesheet">
</head>

<body class="admin-body">
<!-- Admin sidebar -->
<div th:replace="common/admin-sidebar::sidebar"></div>

<!-- Admin content -->
<section class="admin-main">
    <h3 class="text-center"><i class="fa fa-book bigger-icon"></i>
        <span th:text="${method} == 'PUT' ? 'Actualizar ' : 'Nuevo '"></span> Post
    </h3>
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <form class="needs-validation" method="post"
          novalidate
          th:action="${method} == 'PUT' ? @{'/admin/post/update/{slug}'(slug=${slug})} : @{new}"
          th:object="${postForm}">
        <div class="form-group">
            <label for="post-title">Título</label>
            <input class="form-control"
                   id="post-title"
                   placeholder="Ingrese el título del post"
                   required
                   th:field="*{post.title}"
                   type="text"
            />
            <div class="invalid-feedback">
                Hace falta un título
            </div>
        </div>
        <div class="form-group">
            <label for="post-metatitle">Metatítulo</label>
            <input class="form-control"
                   id="post-metatitle"
                   placeholder="Ingrese el metatítulo del post"
                   th:field="*{post.metatitle}"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label for="post-slug">URL</label>
            <input class="form-control"
                   id="post-slug"
                   placeholder="Ingrese el URL del post"
                   required
                   th:field="*{post.slug}"
                   type="text"
            />
            <div class="invalid-feedback">
                Hace falta un URL
            </div>
        </div>
        <div class="form-group">
            <label for="post-category">Categoría</label>
            <select class="selectpicker form-control" data-live-search="true" data-style="btn-tertiary"
                    id="post-category" required th:field="*{categoryId}">
                <option disabled selected="selected" value="0">Escoja una categoría</option>
                <option th:each="c : ${categories}" th:selected="${c.getId() == postForm.categoryId}"
                        th:text="${c.getTitle()}" th:value="${c.getId()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="post-tags">Tag(s)</label>
            <select class="selectpicker form-control" data-live-search="true" data-style="btn-tertiary" id="post-tags"
                    multiple required th:field="*{tagIds}" title="Escoja al menos un tag">
                <!--                TODO: Select previously selected tags-->
                <!--                th:selected="selected"-->
                <option th:each="t : ${tags}"
                        th:text="${t.getTitle()}" th:value="${t.getId()}"></option>
            </select>
            <div class="invalid-feedback">
                Hace falta al menos un tag
            </div>
        </div>
        <div class="form-group">
            <label for="post-parent">Post padre (Si aplica)</label>
            <select class="selectpicker form-control" data-live-search="true" data-style="btn-tertiary" id="post-parent"
                    th:field="*{post.parentId}">
                <option disabled selected="selected" th:unless="${method} == 'PUT'" value="0">Escoja un post padre
                </option>
                <option selected="selected" th:if="${method} == 'PUT'" value="0">Ninguna</option>
                <option th:each="p : ${posts}" th:selected="${p.getId() == postForm.post.getParentId()}"
                        th:text="${p.getTitle()}" th:value="${p.getId()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="post-social-network1">Link de Facebook</label>
            <input class="form-control"
                   id="post-social-network1"
                   placeholder="Ingrese el link para compartir en Facebook"
                   required
                   th:field="*{post.socialNetwork1}"
                   type="text"
            />
            <div class="invalid-feedback">
                Hace falta el link de Facebook
            </div>
        </div>
        <div class="form-group">
            <label for="post-social-network2">Link de Instagram</label>
            <input class="form-control"
                   id="post-social-network2"
                   placeholder="Ingrese el link para compartir en Instagram"
                   th:field="*{post.socialNetwork2}"
                   type="text"
            />
        </div>
        <div class="form-group">
            <label for="post-content">Contenido</label>
            <textarea class="form-control admin-textarea"
                      id="post-content"
                      placeholder="Ingrese contenido que aparecerá en el post en formato markdown"
                      rows="5"
                      th:field="*{post.content}"
            ></textarea>
        </div>
        <div class="row justify-content-center">
            <button class="btn-lg btn-secondary" type="submit">
                <span th:text="${method} == 'PUT' ? 'Actualizar' : 'Guardar'"></span>
            </button>
        </div>
    </form>
</section>

<script src="/js/app.js"></script>
</body>

</html>