<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Bellas Palabras - Admin Website</title>
    <link href="/css/app.css" rel="stylesheet">
</head>

<body class="admin-body">
<!-- Admin sidebar -->
<div th:replace="common/admin-sidebar::sidebar"></div>

<!-- Admin content -->
<section class="admin-main">
    <div class="hipsum">
        <div class="jumbotron">
            <h1>Tags</h1>
            <h2 id="hello,-world!">Hola, <span th:text="${member.getFirstName()}">
            </span><a class="anchorjs-link" href="#hello,-world!">
                <span class="anchorjs-icon"></span></a></h2>
            <p>Esta página está destinada a la carga y eliminación de tus imágenes.</p>
            <form enctype="multipart/form-data" method="POST" th:action="@{/admin/image}">
                <div class="form-group mb-0">
                    <label class="btn btn-primary btn-file">
                        Cargar imágenes <input name="file" style="display: none;" type="file">
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit">Guardar nueva imagen</button>
                </div>
            </form>

            <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
            <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
        </div>

        <div th:if="${not #lists.isEmpty(filenames)}">
            <table class="table table-striped table-bordered dt-responsive nowrap" id="sorting-table"
                   style="width:100%">
                <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Ruta</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="filename : ${filenames}">
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-secondary" th:href="@{'/image/{filename}'(filename=${filename})}">
                                Previsualizar
                            </a>
                            <button aria-expanded="false" aria-haspopup="true"
                                    class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" type="button">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <form method="post" th:action="@{'image/delete/{filename}'(filename=${filename})}">
                                    <button class="btn btn-tertiary dropdown-item"
                                            onClick="return confirm('¿Está seguro de eliminar esta imagen?')"
                                            type="submit">Eliminar
                                    </button>
                                </form>
                                <button class="btn btn-tertiary dropdown-item" type="button">
                                    <a style="text-decoration: none" th:href="${pathMap.get(filename)}">Descargar</a>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td th:text="${filename}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Imagen</th>
                    <th>Ruta</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <p class="pt-4">Puedes agregar estas imágenes a tus posts accediendo a la sección de
            <a class="admin-hyperlink" th:href="@{post}"> Posts</a>
            y agregando la fuente
            <code>/image/[filename].jpg</code>.
            Thumbnails deben ser guardados con el siguiente nombre
            <code>[post_url]0.jpg</code>.
        </p>
    </div>
</section>

<script src="/js/app.js"></script>
</body>

</html>