<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Bellas Palabras - Responsive Bootstrap Blog Website</title>
    <link href="/css/app.css" rel="stylesheet">
</head>

<body class="home">
<!-- Post header -->
<header class="post-header">
    <!-- Navbar -->
    <div th:replace="common/navbar::navbar"></div>
    <div class="category-tag-header d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="mb-3" th:text="${ctag.getTitle()}"></h1>
                    <h5 th:text="${ctag.getContent()}"></h5>
                    <div th:if="${not #lists.isEmpty(children)}">
                        <div class="row blog-cards py-0 justify-content-center bg-transparent">
                            <div class="col-lg-4 col-md-6" th:each="child : ${children}">
                                <a th:href="@{'/category/{slug}'(slug = ${child.getSlug()})}">
                                    <div class="card bg-dark text-white">
                                        <img class="card-img-top" style="opacity: .35;"
                                             th:alt="${child.getSlug()} + '.jpg'"
                                             th:src="'/image/download/' + ${child.getSlug()} + '.jpg'">
                                        <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                            <h2 class="card-title" th:text="${child.getTitle()}"></h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post content -->
<section class="home-content">
    <div class="row blog-cards">
        <div class="col-lg-4 col-md-6" th:each="post : ${posts}">
            <div class="card">
                <a th:href="@{'/post/{slug}'(slug=${post.getSlug()})}">
                    <img class="card-img-top" th:alt="${post.getSlug()} + '.jpg'"
                         th:src="'/image/download/' + ${post.getSlug()} + '.jpg'">
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.getTitle()}"></h5>
                    <p class="card-text" th:text="${post.getDescription()}"></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <span th:text="${'Publicado ' + momentsAgo.get(post.getId())}"></span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog website footer -->
<footer class="home-footer">
    <div th:replace="common/footer::footer"></div>
</footer>

<script src="/js/app.js"></script>
</body>

</html>